@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pomiary elektryczne</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Zaczynamy</h2>
        <p>
            Pomiary elektryczne to zintegrowany system wspomagania pracy elektryka. Oferowana funkcjonalność to: generowanie protokołów pomiarów, udostępnianie ich klientom, ...
        </p>
    </div>
    <div class="col-md-6">
        <h2>Jak mogę korzystać z programu?</h2>
        Załóż konto i korzystaj z wielu opcji
    </div>
</div>